body  {
    font-size: 13px;
    max-width: 700px;
    max-height: 700px;
    min-width: 305px;
    min-height: 305px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-top: 20px;
    background-image: url('fundo.png');
}

#titulo {
    color: white;
    border-bottom: 6px lightgray dotted;
    font-size: 40px;
    padding: 8px;
    font-weight: bolder;
}

#btnAdd {
    font-size: 16px;
    background-color: lightgreen;
    border-radius: 50%;
    border-color: white;
    align-items: center;
}

.linha {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    padding: 2px;
    padding-left: 6px;
    border-radius: 18px;
    text-align: start;
    display: inline-flex;
    justify-content: space-between;
}

div.linha {
    border: 2px lightgray solid;
}

#listaEntrada {
    padding: 0px;
}

#entrada, p {
    margin: 2px;
    width: 90%;
    border: none;
    cursor: pointer;
    outline: none;
}

p {
    margin: 2px;
    padding: 2px;
    padding-right: 1px;
}

#btnRemove {
    font-size: 16px;
    background-color: tomato;
    border-radius: 50%;
    border-color: white;
    align-items: center;
    padding: 0px 8px 2px 8px;
}