body  {
    max-width: 700px;
    max-height: 700px;
    min-width: 305px;
    min-height: 305px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    background-image: url('fundo.png');
}

#titulo {
    color: white;
    border-bottom: 6px lightgray dotted;
    font-size: 40px;
    padding: 8px;
    font-weight: bolder;
}

#btnadd {
    font-size: 16px;
    background-color: lightgreen;
    border-radius: 50%;
    border-color: white;
    align-items: center;
}

.linha {
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    padding: 2px;
    padding-left: 6px;
    border-radius: 18px;
}

.entrada  {
    margin: 2px;
    width: 90%;
    border: none;
}